body {
    background-color: #76C4C6;
    height: 100%;
}
.father {
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    margin: 0px;
    padding: 0px;
    font-size: 80px;
    color: white;
    animation: 1s rotateDots infinite ease-in-out;
}
@keyframes rotateDots {
    from {
        transform: none;
    }
    to {
        transform: rotate(180deg);
    }
}

body {
    height: 100%;
    background-color: #1EAB9C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.father {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.stick {
    width:10px;
    height: 40px;
    background-color: white;
}

#st1 {
    animation: myAnymation linear .5s alternate;
}
#st2 {
    animation: myAnymation linear .5s .1s;
}
#st3 {
    animation: .5s myAnymation linear .2s;
}
#st4 {
    animation: .5s myAnymation linear .3s;
}
#st5 {
    animation: .5s myAnymation linear .4s;
}
#st6 {
    animation: .5s myAnymation linear .5s;
}

@keyframes myAnymation {
    0% {
        transform: none;
    }
    50% {
        transform: scale(1, 4);
    }
    100% {
        transform: none;
    }
}

